/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bourbon";
@import "neat";

$main-color: #53AEE0;
$hover-color: #5AC5FF;
$link-color: #FFF;
$nav-height: 40px;

a {
  color: $link-color;
  text-decoration: none;
  text-shadow: 0px 1px 1px #222;
  &:hover {
    color: $hover-color;
  }
}

.nav {
  font-family: $helvetica;
  background-color: $main-color;
  border-radius: 5px;
  height: $nav-height;
  line-height: $nav-height;

  ul {
    list-style: none;
    li {
      display: inline-block;
      padding: 0 10px;
    }
  }
}

.content {
  @include outer-container;
}
